// #######################################
//      VARIABLES
// #######################################

$background: linear-gradient(0deg, rgb(5, 11, 20) 0%, rgb(20, 43, 74) 100%);
$text: rgb(230, 230, 230);
$link: rgba(0, 153, 255, 0.75);

$cursor-color: rgb(255, 255, 255);

$font-size: 18px;
$line-height: 22px;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

// #######################################
//      MAIN ELEMENTS
// #######################################

@font-face {
    font-family: "Graffiti";
    src: local("Graffiti"), url(fonts/graffiti.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: $font-size;
    cursor: none;
}

body {
    width: 100%;
    height: 100%;
    cursor: none;

    font-family: "Montserrat", "Helvetica", "Verdana", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    user-select: none;
}

#root {
    width: 100%;
    height: 100%;
    background: $background;
    color: $text;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .navPoints {
        position: fixed;
        height: 50px;
        width: 100%;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        left: 0;
        top: unset;
        bottom: 0;

        @media only screen and (min-width: 768px) {
            top: 0;
            bottom: unset;
            height: 100%;
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .navPoint {
            position: relative;
            @include transition(width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out);
            width: 3px;
            height: 15px;
            margin: 0 5px;
            padding: 10px;
            opacity: 0.4;

            @media only screen and (min-width: 768px) {
                height: 6px;
                width: 25px;
                margin: 20px 15px;
            }

            &.active {
                opacity: 0.8;
                height: 30px;

                @media only screen and (min-width: 768px) {
                    width: 50px;
                    height: 6px;
                }
            }

            .point {
                width: 100%;
                height: 100%;
                border-radius: 100px;
                background-color: white;
            }
        }
    }

    .sectionContainer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        .section {
            width: 100%;
            height: 100vh;
            min-width: 100%;
            min-height: 100vh;

            // Carles Delete
            &.red {
                background-color: rgba(255, 0, 0, 0.1);
            }

            // Carles Delete
            &.blue {
                background-color: rgba(0, 0, 255, 0.1);
            }

            // Carles Delete
            &.green {
                background-color: rgba(0, 128, 0, 0.1);
            }
        }
    }
}

// #######################################
//      NAME TITLE
// #######################################

.nameTitle {
    position: absolute;
    @include transition(height 0.2s ease-in-out);
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (min-width: 768px) {
        height: 6rem;
    }

    &.front {
        height: 100%;
    }

    .nameContainer {
        @include transition(height 0.2s ease-in-out);
        width: 100%;
        height: 3rem;
        perspective: 70px;

        @media only screen and (min-width: 768px) {
            height: 6rem;
        }

        &.front {
            height: 5rem;

            @media only screen and (min-width: 768px) {
                height: 10rem;
            }
        }

        .nameSVG {
            height: 100%;
            width: 100%;

            text {
                @include transition(font-size 0.2s ease-in-out);
                font-size: clamp(1.25rem, 5vw, 2.25rem);
                fill: white;

                &.front {
                    font-size: clamp(2rem, 8vw, 6rem);
                }
            }

            .graffitiName {
                font-family: Graffiti, sans-serif;
            }

            #circle1,
            #circle5 {
                animation: rotateClockwise 1s linear infinite;
                transform-origin: 145px 150px;
            }

            #circle2,
            #circle6 {
                animation: rotateAntiClockwise 2s linear infinite;
                transform-origin: 155px 150px;
            }

            #circle3,
            #circle7 {
                animation: rotateClockwise 3s linear infinite;
                transform-origin: 150px 145px;
            }

            #circle4,
            #circle8 {
                animation: rotateAntiClockwise 2.5s linear infinite;
                transform-origin: 150px 155px;
            }

            @keyframes rotateClockwise {
                from {
                    transform: rotate(0);
                }
                to {
                    transform: rotate(360deg);
                }
            }

            @keyframes rotateAntiClockwise {
                from {
                    transform: rotate(360deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

// #######################################
//      CURSOR
// #######################################

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid $cursor-color;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include transition(background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out, mix-blend-mode 0.2s ease-in-out);
    z-index: 9999;
    mix-blend-mode: difference;

    &.hidden {
        opacity: 0;
    }

    &.hovered {
        transform: translate(-50%, -50%) scale(1.25);
        background-color: $cursor-color;
    }

    &.clicked {
        transform: translate(-50%, -50%) scale(0.9);
        background-color: $cursor-color;
    }
}

// #######################################
//      STARS
// #######################################

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .star {
        position: absolute;
        height: 2px;
        width: 2px;
        background-color: white;
        border-radius: 100px;

        @media only screen and (min-width: 768px) {
            height: 4px;
            width: 4px;
        }
    }
}
